:root{
    --preto: #0D0D0D;
    --branco: #F2F2F2;
    --rosaclaro: #D98494;
    --rosaescuro: #D93D59;
    --rosaclaroopaco: #d984948c;
    --brancoopaco: #f2f2f285;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
    font-family: 'Montserrat' sans-serif;
    color: var(--branco);
}

#logo {
    width: 206px;
    margin-bottom: -15px;
}

/* menu de navegação esquerda */

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    justify-content: space-around;
}

#menuesquerdo {
    margin-right: 400px;
}

/* menu de navegação direito */

#menudireito {
    width: 150px;
    height: 50px;
    margin-top: 10px;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

#icone {
    margin-right: 10px;
    cursor: pointer;
}

#login {
    width: 30px;
    margin-left: 10px;
    border-radius: 3px;
    align-content: center;
}

#carret {
    margin-left: 10px;
}

/* menu profile */

.menuprofile {
    font-family: 'Montserrat';
    font-size: 14px;
    background-color: var(--preto);
}

#menudireito ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.action .profile {
    overflow: hidden;
    cursor: pointer;
}

.action .menuprofile {
    position: absolute;
    top: 50px;
    right: -10px;
    padding: 10px 20px;
    background: var(--preto);
    width: 200px;
    box-sizing: 0 5px 25px var(--preto);
    border-radius: 15px;
    transition: 0.1s;
    visibility: hidden;
}

.action .menuprofile::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: var(--preto);
    transform: rotate (45deg);
}

.action .menuprofile a {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.action .menuprofile a {
    list-style: none;
    padding: 3px 0;
    border-top: 1px solid var(--preto);
    justify-content: center;
    align-items: center;
}

.action .menuprofile a {
    display: inline-block;
    text-decoration: none;
    color: var(--branco);
    transition: 0.1s;
}

.action .menuprofile a:hover {
    color: var(--rosaclaro);
    cursor: pointer;
}

.action .menuprofile.active {
    visibility: visible;
    opacity: 1;
}

/* menu navegação */

header nav a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    color: var(--branco);
    margin-left: 10px;

}

header nav a:hover{
    color: var(--rosaclaro);
}

/* livro destaque */

.livrodestaque {
    background: url('../img/capa.png');
    height: 748px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding-left: 170px;
}

#logodestaque {
    width: 515px;
}

.descricao {
    font-family: 'Montserrat';
    width: 590px;
    font-size: 16px;
    color: var(--branco);
    margin-bottom: 20px;
}

#leronline {
    padding: 15px 30px;
    font-family: 'Montserrat';
    color: var(--preto);
    font-size: 16px;
    background-color: var(--branco);
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#maisinfo {
    padding: 15px 30px;
    font-family: 'Montserrat';
    color: var(--branco);
    font-size: 16px;  
    background-color: var(--brancoopaco);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#leronline:hover {
    background-color: var(--rosaescuro);
    color: var(--branco);
}

#maisinfo:hover{
    background-color: var(--rosaclaroopaco);
}

/* carrossel */

.boxfilme {
    height: 100%;
    width: 100%;
    display: block;
}

.titulolistas {
    font-family: 'Montserrat';
    font-size: 20px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 1000;
}

.continuarlendo {
    margin-left: 15px;
    margin-right: 15px;
}

.minhalista {
    margin-left: 15px;
    margin-right: 15px;
}

.item {
    cursor: pointer;
}
